#button{
    transform: scale(2.5);
    margin: '100px'
}
#button:hover{
    transform: scale(3);
}

#list{
    /* margin: auto; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#center{
    position: absolute;
    top: 25%;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;}